.cabecalho{
    width: 100%;
    height: 90px;
    background-color: #00293F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .cabecalho_itens{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  
  }
  
  .btn_sair{
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  
  .icon:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .icon:active{
    transition: 0.25s;
    transform: scale(1.05);
  }
  
  .icon:focus{
    outline: none;
  }
  

.secao_cards{
    background-color: #f1f1f1;
    max-width: 1920px;
    width: 100%;
    height: 847px;
    display: flex;
    justify-content: space-evenly;
}

.posicionamento_cards{
    display: flex;
    justify-content: space-around;

}

.fundo_card{
    background-color: white;
    width: 398px;
    height: 649px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-top: 80px;
}

.fundo_card:hover{
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.363);
    transition: 0.3s;
    transform: scale(1.08);
}

.fundo_card:active{
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.363);
    transition: 0.15s;
    transform: scale(1.04);
}

.img_card{
    width: 343px;
    height: 310px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo_card{
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    color: #00293F;
    font-size: 50px;
}

.subtitulo_card{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #00293F;
    font-size: 20px; 
}